body{
    margin: 0;
}

#annolet-container{
  overflow: hidden;
  /*background-color: black !important;*/
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 31px 31px 0px 0px;
  z-index: 9999;
}


/*#annolet-header{
    text-align:center;
    color: white !important;
    text-shadow: 2px -2px 19px #823ae4;
    font-weight: bold;
    font-family: Georgia, serif;
}

#annolet-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.annolet-element {
    float: left;
    cursor: pointer;
}

.annolet-element, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.annolet-element:hover, .dropdown:hover .dropbtn{
    background-color:  #003366;
    cursor: pointer;
}

li.dropdown{
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.list {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.list:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
    display: block;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}