body{
    margin: 0;
}

/*#switchcss-container, #langTrans-container,
#phonetics-container, #content-container,
#pagestripper-container{
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 31px 31px 0px 0px;
  z-index: 9999;
}*/

#annolet-container{
  overflow: hidden;
  background-color: black !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 31px 31px 0px 0px;
  z-index: 9999;
}

/*#themes-header, #trans-header, #phonetics-header,
#content-header, #pagestripper-header{
    text-align:center;
    color: white;
    text-shadow: 2px -2px 19px #823ae4;
    font-weight: bold;
    font-family: Georgia, serif;
}*/

#annolet-header{
    text-align:center;
    color: white !important;
    text-shadow: 2px -2px 19px #823ae4;
    font-weight: bold;
    font-family: Georgia, serif;
}

/*#theme_1, #theme_2, #theme_3,
#google_translate_element, #lang_translate,
#lang, #textarea, #phonetic, #update, #save-edits,
#highlight, #increase-font, #decrease-font,
#show-text, #show-images, #show-links{
  float:left; 
  color: white;
  text-align: center;
  text-decoration: none;
  background:#000080;
}*/

.annolet-elements{
  float:left; 
  color: white !important;
  text-align: center;
  text-decoration: none;
  background:#000080 !important;
}



/* Style The Dropdown Button */
.dropbtn {
    background-color: orange;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: grey;
}

#disable_btn{
  background-color: orange !important;
  color: black !important;
  padding: 16px;
}