body{
    margin: 0;
}

#switchcss-container, #langTrans-container,
#phonetics-container, #content-container,
#pagestripper-container{
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 31px 31px 0px 0px;
  z-index: 9999;
}

#themes-header, #trans-header, #phonetics-header,
#content-header, #pagestripper-header{
    text-align:center;
    color: white;
    text-shadow: 2px -2px 19px #823ae4;
    font-weight: bold;
    font-family: Georgia, serif;
}

#theme_1, #theme_2, #theme_3,
#google_translate_element, #lang_translate,
#lang, #textarea, #phonetic, #update, #save-edits,
#highlight, #increase-font, #decrease-font{
  float:left; 
  color: white;
  text-align: center;
  text-decoration: none;
  background:#000080;
}

