body{
    margin: 0;
}

#switchcss-container {
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 31px 31px 0px 0px;
}

#themes-header{
    text-align:center;
    color:orange;
    font-family: Georgia, serif;
}

#themes-header:hover{
  color: white;
  text-shadow: 2px -2px 19px #823ae4;
  font-weight: bold;
}

#theme_1, #theme_2, #theme_3,
#google_translate_element, #lang_translate,
#lang, #textarea, #phonetic, #update, #save-edits,
#highlight{
  margin: 0 auto;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  background:#000080;
}

button:hover{
    background: white;
    color: #000080;
}

