body
{
	/*-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-o-filter: invert(100%);
	-ms-filter: invert(100%);*/
	background: yellow; 
}

/*#annolet-container, #annolet-header, .annolet-elements
{
	-webkit-filter: inherit;
	-moz-filter: inherit;
	-o-filter: inherit;
	-ms-filter: inherit; 
}
*/




